@import url('ragrid.css');
@import url(http://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800,900);


/* Colors */
$black: #0E1118;
$white: #FFFFFF;
$grey: #6C7281;
$blue: #2870FF;
$purple: #5C28FF;

/* Fonts */
$body-font-family: 'Montserrat', sans-serif;
$body-font-size: 1em;
$body-font-size-2: 1.2em;
$body-font-size-3: 1.4em;

$body-header-2: 6.8rem;
$body-header: 4.2em;

/* Layout */
$margin-center: 0 auto;

/* Animations */
$fadein: FadeIn 3s ease-out;


@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes Float {
  from {
	transform: translateX(100%) translateZ(0);
  }
  to {
	transform: translateX(-15%) translateZ(0);
  }
}
@keyframes Float {
  from {
	transform: translateX(100%) translateZ(0);
  }
  to {
	transform: translateX(-15%) translateZ(0);
  }
}

@-webkit-keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}
@keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}


body {
	background: $white;
	color: $white;
	font-weight: 300;
	font-size: $body-font-size;
	font-family: $body-font-family;
	height: 100%;
	min-height: 100% !important;
	margin: 0;
	padding: 0;
	background-color: $white;

		* {
			box-sizing: border-box; 
		}
}
a, a:hover {
	text-decoration: none;
	backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
		
}

.animate-all {
	transition: all 0.2s ease-in-out;
}

.heading {
	color: $black;
	font-weight: 600;
	display: block;
	text-align: center;
	margin: 30pt 0 10pt 0;
}

#bio, #quicklinks {
	color: $black;
}

.mesig {
	position: absolute;
	top: 15pt;
	left: 30pt;
	width: 90pt;
}

.mesig-dark {
	width: 150pt;
	margin: 0 0 0 -15pt;
}

.me-bio {
	text-align: center;
	margin: 45pt 0 0 0;

	p {
		color: $grey;
		font-size: $body-font-size;
		text-align: center;
		width:500pt;
		margin: 0pt auto 35pt auto;
		line-height: 1.6em;
	}
	.me {
		width: 100pt;
		border-radius: 50%;
		overflow: hidden;
		margin: $margin-center;
		box-shadow: 0 15px 20px rgba(22,33,56,0.4);
	}

}

.splash {
	display: block;
	height: 100vh;
	width: 100% +10pt;
	background-size: 50% 50%;
  	position: relative;
  	margin-left: -10pt;

  	.intro {
		position: absolute;
		top:50%;
		left: 50%;
		width: 500pt;
		height: 200pt;
		margin-left: -250pt;
		margin-top: -140pt;
	}
	.illus {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -90pt;
		width: 150pt;
	}
	h1.intro {
		text-align: center;
	}
	.overlay {
		position: absolute;
		top:0; bottom: 0; left: 0; right: 0;
	}
	.title {
		font-size: $body-header;
		font-weight: 900;
		line-height: 70pt;
		text-align: center;
		padding: 0;
		margin:0;
		text-transform: uppercase;

		span {
			display: block;
			font-weight: 200;
			font-size: $body-header-2;
		}
	}
	p {
		text-align: center;
		line-height: 22pt;
		font-size:  $body-font-size-3;
		font-weight: 400;
		padding: 0 2%;
	}

}

.idea-bubble {
	display: block;
	margin: $margin-center;
}

#granim-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 0 100%
}
.me-pic {
	text-align: center;
	margin-top: 50pt;

	img {
		width: 150pt;
		margin: auto;
		border-radius: 100pt;
	}
}

#bio {
	min-height: 500pt;
	background-size: cover !important;
}
#quicklinks {
	text-align: center;
	margin: 25pt 0 0 0;
	height: 90pt;

	img {
		filter: grayscale(100%);
		opacity: 0.2;
		width: 150pt;
	}
}

#quicklinks img:hover {
	opacity: 1;
	filter: grayscale(0%);
	 transform: rotate(-5deg);
	 margin-top: -10pt;
	 width: 190pt;
}
#additional {
	text-align: center;
	margin-bottom: 30pt;
	height:80pt;
	a {
		display: inline-block;
		width: 180pt;
		line-height: 55pt;
		height: 55pt;
		background: $blue;
		border-radius: 50pt;
		color: $white;
		font-weight: 300;
		font-size: $body-font-size-2;
	}
}
#additional a:hover {
	box-shadow: 0 14px 25px rgba(0,0,0,0.2);
	margin-top: -8pt;
	width: 200pt;
	background: $purple;
}

/* Grid */



#grid {
	margin-top: 10pt;
	
	div {
		padding:0;
		margin:0;
		margin-top: -3pt;
		position: relative;

		img {
			width: 100%;
		}
		.overlay {
			position: absolute;
			top: 3pt; bottom: 0; right: -1pt; left: 0;
			background: rgba(0,0,0,0.8);
			opacity: 0;
			padding: 20pt 40pt;
			h2 {
				font-size: 3em;
				color: #fff;
				padding: 0;
				margin: 0;
				line-height: 1.1em;
				font-weight: 800;
			}
		}
		.overlay:hover {
			opacity: 1;
		}
	}
	.comingsoon {
		background: #000;
		margin-bottom: 3pt;
	}
	div:last-child {
		display: none;
	}
}

#Clouds {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 30%;
	overflow: hidden;
	animation: $fadein;
	user-select: none;
}
.Cloud {
	position: absolute;
	width: 100%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 60px;
	animation-duration: 120s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-name: Float, FadeFloat;
	z-index: 1;
}
.Cloud.Foreground {
	height: 10%;
	min-height: 20px;
	z-index: 3;
}
.Cloud.Background {
	height: 9.09090909%;
	min-height: 8px;
	animation-duration: 210s;
}

.Cloud:nth-child(10) {
          animation-delay: -184.61538462s;
  top: 60%;
}
.Cloud.Foreground:nth-child(10) {
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
  height: 30%;
}
.Cloud.Background:nth-child(10) {
          animation-duration: 110s;
  height: -0.40909091%;
  display: none;
}
.Cloud:nth-child(9) {
          animation-delay: -166.15384615s;
  top: 54%;
}
.Cloud.Foreground:nth-child(9) {
          animation-duration: 84s;
  height: 30.5%;
}
.Cloud.Background:nth-child(9) {
          animation-duration: 114s;
  height: -0.15909091%;

}
.Cloud:nth-child(8) {
          animation-delay: -147.69230769s;
  top: 48%;
}
.Cloud.Foreground:nth-child(8) {
          animation-duration: 88s;
  height: 20%;
}
.Cloud.Background:nth-child(8) {
          animation-duration: 118s;
  height: -0.90909091%;

}
.Cloud:nth-child(7) {
          animation-delay: -129.23076923s;
  top: 42%;
}
.Cloud.Foreground:nth-child(7) {
          animation-duration: 92s;
  height: 27.5%;
}
.Cloud.Background:nth-child(7) {
          animation-duration: 122s;
  height: 0.34090909%;
  display: none;
}
.Cloud:nth-child(6) {
          animation-delay: -110.76923077s;
  top: 36%;
}
.Cloud.Foreground:nth-child(6) {
          animation-duration: 96s;
  height: 25%;
}
.Cloud.Background:nth-child(6) {
          animation-duration: 126s;
  height: 9.59090909%;
}
.Cloud:nth-child(5) {
          animation-delay: -92.30769231s;
  top: 30%;
}
.Cloud.Foreground:nth-child(5) {
          animation-duration: 100s;
  height: 22.5%;
}
.Cloud.Background:nth-child(5) {
          animation-duration: 20s;
  height: 20.84090909%;
}
.Cloud:nth-child(4) {
          animation-delay: -73.84615385s;
  top: 24%;
}
.Cloud.Foreground:nth-child(4) {
          animation-duration: 104s;
  height: 20%;
}
.Cloud.Background:nth-child(4) {
          animation-duration: 24s;
  height: 20.09090909%;
}
.Cloud:nth-child(3) {
          animation-delay: -55.38461538s;
  top: 18%;
}
.Cloud.Foreground:nth-child(3) {
          animation-duration: 108s;
  height: 17.5%;
}
.Cloud.Background:nth-child(3) {
          animation-duration: 88s;
  height: 20.34090909%;
}
.Cloud:nth-child(2) {
          animation-delay: -36.92307692s;
  top: 12%;
}
.Cloud.Foreground:nth-child(2) {
          animation-duration: 112s;
  height: 12%;
}
.Cloud.Background:nth-child(2) {
          animation-duration: 60s;
  height: 6.59090909%;
}
.Cloud:nth-child(1) {
          animation-delay: -18.46153846s;
  top: 6%;
}
.Cloud.Foreground:nth-child(1) {
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  height: 8.5%;
}
.Cloud.Background:nth-child(1) {
          animation-duration: 40s;
  height: 7.84090909%;
}
.Cloud {
  background-image: url('../img/cloud-01.png');
}
.Cloud.Background {
background-image: url('../img/ico_rocketship.svg');
}


