@import url(http://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

// Import Css Files
@import url('ragrid.css');

// Import SCSS
@import '1-helpers/1-helpers';
@import '2-base/2-base';
@import '3-animations/3-animations';
@import '4-layout/4-layout';
@import '5-modules/5-modules';



body {
	background: $white;
	color: $white;
	font-weight: 300;
	font-size: $body-font-size;
	font-family: $body-font-family;
	height: 100%;
	min-height: 100% !important;
	margin: 0;
	padding: 0;
	background-color: $white;

		* {
			box-sizing: border-box; 
		}
}
a, a:hover {
	text-decoration: none;
	backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
		
}

.animate-all {
	@include transition(all);
}

.heading {
	color: $black;
	font-weight: 600;
	display: block;
	text-align: center;
	margin: 30pt 0 10pt 0;
}

#bio, #quicklinks {
	color: $black;
}

.mesig {
	position: absolute;
	top: 15pt;
	left: 30pt;
	width: 90pt;
}

.mesig-dark {
	width: 150pt;
	margin: 0 0 0 -15pt;
}

.me-bio {
	text-align: center;
	margin: 45pt 0 0 0;

	p {
		color: $grey;
		font-size: $body-font-size;
		text-align: center;
		width:500pt;
		margin: 0pt auto 35pt auto;
		line-height: 1.6em;
	}
	.me {
		width: 100pt;
		overflow: hidden;
		margin: $margin-center;
		@include box-shadow(0,15px,20px,rgba(22,33,56,0.4));
		@include border-radius(50%);
	}

}

.splash {
	display: block;
	height: 100vh;
	width: 100% +10pt;
	background-size: 50% 50%;
  	position: relative;
  	margin-left: -10pt;

  	.intro {
		position: absolute;
		top:50%;
		left: 50%;
		width: 500pt;
		height: 200pt;
		margin-left: -250pt;
		margin-top: -140pt;
	}
	.illus {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -90pt;
		width: 150pt;
	}
	h1.intro {
		text-align: center;
	}
	.overlay {
		position: absolute;
		top:0; bottom: 0; left: 0; right: 0;
	}
	.title {
		font-size: $body-header;
		font-weight: 900;
		line-height: 70pt;
		text-align: center;
		padding: 0;
		margin:0;
		text-transform: uppercase;

		span {
			display: block;
			font-weight: 200;
			font-size: $body-header-2;
		}
	}
	p {
		text-align: center;
		line-height: 22pt;
		font-size:  $body-font-size-3;
		font-weight: 400;
		padding: 0 2%;
	}

}

.idea-bubble {
	display: block;
	margin: $margin-center;
}

#granim-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 0 100%
}
.me-pic {
	text-align: center;
	margin-top: 50pt;

	img {
		width: 150pt;
		margin: auto;
		border-radius: 100pt;
	}
}

#bio {
	min-height: 500pt;
	background-size: cover !important;
}
#quicklinks {
	text-align: center;
	margin: 25pt 0 0 0;
	height: 90pt;

	img {
		filter: grayscale(100%);
		opacity: 0.2;
		width: 150pt;
	}
}

#quicklinks img:hover {
	opacity: 1;
	filter: grayscale(0%);
	 transform: rotate(-5deg);
	 margin-top: -10pt;
	 width: 190pt;
}
#additional {
	text-align: center;
	margin-bottom: 30pt;
	height:80pt;
	a {
		display: inline-block;
		width: 180pt;
		line-height: 55pt;
		height: 55pt;
		background: $blue;
		border-radius: 50pt;
		color: $white;
		font-weight: 300;
		font-size: $body-font-size-2;
	}
}
#additional a:hover {
	@include box-shadow(0,14px,25px,rgba(0,0,0,0.2));
	margin-top: -8pt;
	width: 200pt;
	background: $purple;
}

/* Grid */



#grid {
	margin-top: 10pt;
	
	div {
		padding:0;
		margin:0;
		margin-top: -3pt;
		position: relative;

		img {
			width: 100%;
		}
		.overlay {
			position: absolute;
			top: 3pt; bottom: 0; right: -1pt; left: 0;
			background: rgba(0,0,0,0.8);
			opacity: 0;
			padding: 20pt 40pt;
			h2 {
				font-size: 3em;
				color: #fff;
				padding: 0;
				margin: 0;
				line-height: 1.1em;
				font-weight: 800;
			}
		}
		.overlay:hover {
			opacity: 1;
		}
	}
	.comingsoon {
		background: #000;
		margin-bottom: 3pt;
	}
	div:last-child {
		display: none;
	}
}



/* Media Queries */

@media all and (max-width: 1199px) {


	.splash {

	  	.intro {
			width: 500pt;
			height: 200pt;
			margin-left: -250pt;
			margin-top: -135pt;
		}
		.illus {
			margin-left: -77pt;
			width: 155pt;
		}
		.title {
			font-size: 3.9em;
			font-weight: 900;
			line-height: 55pt;
			text-align: center;
			padding: 0;
			margin:0;
			text-transform: uppercase;	

			span {
				font-size: 5.7rem;
			}
		}
		p {
			text-align: center;
			line-height: 22pt;
			font-size: 1.2em;
			font-weight: 400;
			padding: 0 10%;
		}

	}
	#grid div .overlay {
		padding: 20pt 20pt;
		h2 {
			font-size: 2.5em;
			line-height: 1em;
		}
	}	


} 
/* End 1199px */

@media all and (max-width: 991px) {
  
  	#grid div {
  		 flex-basis: 50%;
  	}
	#quicklinks img {
		width: 130pt;	
	}
	.splash .intro {
		width: 500pt;
		height: 200pt;
		margin-left: -250pt;
		margin-top: -130pt;
	}
	.me-bio p {
		color: #6C7281;
		font-size: 1em;
		text-align: center;
		width:350pt;
		margin: 0pt auto 30pt auto;
		line-height: 1.6em;
	}
	.splash .title {
		font-size: 3.5em;
		font-weight: 900;
		line-height: 50pt;
		text-align: center;
		padding: 0;
		margin:0;
		text-transform: uppercase;	
		span {
			font-size: 5.1rem;
		}
	}
	.splash p {
		text-align: center;
		line-height: 20pt;
		font-size: 1.1em;
		font-weight: 400;
		padding: 0 24%;
		margin-top: 15pt;
	}

	#grid div .overlay {
		padding: 20pt 30pt;
		h2 {
			font-size: 3em;
			line-height: 1em;
		}	
	}

}
/* End 991px */


@media all and (max-width: 640px) {
	.mesig {
		position: absolute;
		top: 15pt;
		left: 50%;
		width: 100pt;
		margin-left: -55pt;
	}
	.me-bio p {
		color: #6C7281;
		font-size: 1em;
		text-align: center;
		width:250pt;
		margin: 0pt auto 30pt auto;
		line-height: 1.6em;
	}
	.splash .intro {
		width: 300pt;
		height: 200pt;
		margin-left: -145pt;
		margin-top: -135pt;
	}
	.splash .overlay {
		position: absolute;
		top:0; bottom: 0; left: 0; right: 0;
	}
	.splash .title {
		font-size: 2.7em;
		line-height: 40pt;
		 span {
			font-size: 3.9rem;
		}	
	}
	.splash p {
		text-align: center;
		line-height: 20pt;
		font-size: 1em;
		font-weight: 400;
		padding: 0 10%;
		margin-top: 15pt;
	}
	#grid div {
  		 flex-basis: 100%;
  	}
 	#quicklinks {
 		margin-top: 25pt;
 		margin-bottom: 115pt;
 		div {
			flex-basis: 100%;
			margin-bottom: 25pt;
		}
		img {
			width: 150pt;
			filter: grayscale(0%);
			opacity: 1;
		}
 	}
}
/* End 640px */