// ########################
// Color Variables
// ########################

$black: #0E1118;
$white: #FFFFFF;
$grey: #6C7281;
$blue: #2870FF;
$purple: #5C28FF;


// ########################
// Font Variables
// ########################

$body-font-family: 'Montserrat', sans-serif;
$body-font-size: 1em;
$body-font-size-2: 1.2em;
$body-font-size-3: 1.4em;
$body-header-2: 6.8rem;
$body-header: 4.6em;


// ########################
// Layout Variables
// ########################

$margin-center: 0 auto;


// ########################
// Animation Variables
// ########################

$fadein: FadeIn 3s ease-out;