/* 
//#####################
// Intro / About
// #####################
*/
.idea-bubble {
	display: block;
	margin: $margin-center;
}

#granim-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 0 100%
}
.me-pic {
	text-align: center;
	margin-top: 50pt;

	img {
		width: 150pt;
		margin: auto;
		border-radius: 100pt;
	}
}

#bio {
	min-height: 500pt;
	background-size: cover !important;
}
#quicklinks {
	text-align: center;
	margin: 25pt 0 0 0;
	height: 90pt;

	img {
		filter: grayscale(100%);
		opacity: 0.2;
		width: 150pt;
	}
}

#quicklinks img:hover {
	opacity: 1;
	filter: grayscale(0%);
	 transform: rotate(-5deg);
	 margin-top: -10pt;
	 width: 190pt;
}
#additional {
	text-align: center;
	margin-bottom: 30pt;
	height:80pt;
	a {
		display: inline-block;
		width: 180pt;
		line-height: 55pt;
		height: 55pt;
		background: $blue;
		border-radius: 50pt;
		color: $white;
		font-weight: 300;
		font-size: $body-font-size-2;
	}
}
#additional a:hover {
	@include box-shadow(0,14px,25px,rgba(0,0,0,0.2));
	margin-top: -8pt;
	width: 200pt;
	background: $purple;
}
